/* Import Google Font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

/* utility class */
.purple {
  color: #f59e0b;
}

#element {
  color: #f59e0b;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.6;
}

/* Reusable */
.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 2rem;
}

section {
  padding: 6rem 2rem;
}

h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 2rem;
  color: #111827;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

/* Base icon style */
a i {
  font-size: 28px;
  margin: 12px;
  color: #d1d5db; /* Soft gray for visibility */
  transition: all 0.3s ease;
}

/* Hover effect */
a:hover i {
  color: #ffffff; /* Bright white on hover */
  text-shadow: 0 0 8px #38bdf8; /* Cyan glow */
  transform: scale(1.2);
}

a:hover i,
a:hover img {
  box-shadow: 0 0 8px #38bdf8;
}
